{% extends 'layouts/main.html' %}
{% block content %}
	<div class="container-fluid" id="notifications">
	</div>
	<div class="container-fluid">
		<div class="row">
			<component name="posts-new" data-sr class="col-xs-12 transp">
			<div class="row">
				<form method="post" action="">
					<div class="card col-xs-12">
						<div class="col-xs-12">
							<div class="form-group">
								<input type="text" class="form-control" name="title" placeholder="Post title..." value="{{ post.title }}"/>
							</div>
							<textarea class="wysiwyg" name="content">{{ post.content }}</textarea>
						</div>
					</div>
					<p class="note">Hold cmd+e to show the inline editor</p>
					<div class="card col-xs-12 card-black tags">
						<div class="col-sm-6">
							<div class="form-group" style="margin-top: 15px;">
								<i class="ion-pricetags"></i>
								<input
									data-role="tagsinput"
									type="text"
									class="form-control"
									name="tags" placeholder="Enter tags.."
									value="{% for tag in post.tags %}{{tag.name}},{% endfor %}"
								/>
						</div>
					</div>
					<div class="col-sm-6">
						<!--<div class="form-group">
										<select class="multiselect" name="categories" multiple="multiple">
											<option value="cheese">Cheese</option>
											<option value="tomatoes">Tomatoes</option>
											<option value="mozarella">Mozzarella</option>
											<option value="mushrooms">Mushrooms</option>
											<option value="pepperoni">Pepperoni</option>
											<option value="onions">Onions</option>
										</select>
						</div>-->
					</div>
				</div>
				<p class="pull-right buttons">
					<button data-size="s" class="ladda-button btn-success" role="submit" data-style="expand-right">
					<span class="ladda-label">Submit</span>
					</button>
				</p>
			</form>
		</div>
		</component>
	</div>
</div>
{% endblock %}