.button {
  font-size: .9em;
  padding: 6px 12px;
  border: none;
  background-color: $color1;
  color: $color5;
  border-radius: 2px;
  transition: all ease-in .5s;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: darken($color1, 5%);
    color: darken($color5, 5%);
  }
}

.button.primary {
  background-color: $color2;
  color: #fff;

  &:hover {
    background-color: darken($color2, 10%);
  }
}
