@import "../../bower_components/normalize.css/normalize.css";

@import "common/_variables";
// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/susy/sass/_susy.scss";
@import "../../bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower
@import "common/_mixins";
@import "_layout";
@import "_forms";
@import "_buttons";


body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	background-color: $color1;
	margin: 0;
}

//
// Mobile first approach to styling. Everything without media queries
// is applied to mobile.
//
// Usage:
// @include breakpoint($ltmobile) { ... } // larger than mobile
// @include breakpoint($ltphablet) { ... } // larger than phablet
// @include breakpoint($lttablet) { ... } // larger than tablet
// @include breakpoint($ltdesktop) { ... } // larger than desktop
// @include breakpoint($ltdesktophd) { ... } // larger than desktop hd
//

.card {
	background-color: $color0;
}

.card-header {
	background-color: $color2;
	h1,h2,h3,h4,h5,h6 {
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 16px;
	}
}


/**
	distraction free
	@todo inject sass as module
*/

body.distraction-free {
	background-color: #fff;

	#wrapper > .container nav.top,
	#wrapper > .container-center  nav.top {
		height: $navbarTopHeight;
		line-height: $navbarTopHeight;
		border-bottom: 1px solid $color1;
		.brand {
			color: #000;
			margin: 0 20px;
			display: inline-block;
			float: left;
		}

		.right {
			display: inline-block;
			float: right;
			margin-right: 20px;
		}

		.right a, .right input {
			border: none;
			background: none;
			margin: 0 5px;
			color: #888;
			text-decoration: none;
			font-size: 0.8em;
			color: $color2;

			&.danger {
				color: $danger;
			}

			&.primary {
				color: #70C941;
			}
		}
	}

	.blog-edit {
		width: 70%;
		max-width: 70%;
		margin: 80px 15%;

		textarea[name="title"] {
			font-size: 3.5em;
			border: none;
			&:focus {
				outline: none;
			}
		}

		textarea {
			resize: none;
		}

		.froala-box {
			margin: 15px 0 0 10px,
		}


	}

	nav.fixed-bottom {
		position: fixed;
		bottom: 0;
		min-height: 45px;
		height: auto;
		width: 100%;
		border-top: 1px solid $color1;
	}

	.tagsinput {
		padding-top: 10px;
		border: none;
		width: 70% !important;
		min-height: 45px !important;
		height: 45px !important;
	}

}

/** editor */
.editor {
	margin-left: 5px;
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid $color2;
		margin: 0;
		padding: 10px 0 10px 10px;
		font-style: italic;
		quotes: "\201C""\201D""\2018""\2019";
	}
	blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
}

/** icons */

.ion-edit {
	color: #FFB200;
}

.ion-trash, .ion-trash-b {
	color: #ff4500;
}
